/* Intro Heading Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* Intro SubHeading Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

html,body{
    margin: 0;
    overflow-x: hidden;
}

#intro{
    position: relative;
}

/* Intro Styling */
#intro-bg-img{
    width: 100%;
}

#bg-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#text-overlay{
    width: 75%;
    position: absolute;
    padding: 1vw;
    display: flex;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    transform: translate(-50%, -50%);
}

#logo-img{
    width: 282px;
    height: 95px;
}

.intro-heading{
    font-family: 'Montserrat';
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    color: white;
    text-align: center;
    font-size: 3.5vw;
}

.intro-subheading{
    font-family: 'Work Sans';
    color: white;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 600;

}

/* Methodolgy Stylings */
#methodolgy-header{
    height: 30vh;
    background-color: #2C2738;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#methodolgy-header h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#methodolgy-header p{
    width: 75%;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 200;
    font-size: 1.5vw;
}

#methodology-metrics{
    position: relative;
}

#methodology-bg-img{
    width: 100vw;
}

#methodology-metrics #overlay-icons{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
}

#methodology-metrics #overlay-icons .icons{
    position: absolute;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#methodology-metrics #overlay-icons .icons img{
    width: 75%;
    transition: transform 0.3s ;
}

#methodology-metrics #overlay-icons .icons h1{
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 2em;
}

#methodology-metrics #overlay-icons .icons:hover{
    cursor: pointer;
}

#methodology-metrics #overlay-icons .icons:hover img {
    transform: translate(0, -10%);
}

#methodology-metrics #overlay-icons .icons:nth-child(1){
    top: 25%;
    left: 15%;
}

#methodology-metrics #overlay-icons .icons:nth-child(2){
    top: 15%;
    left: 37%;
}

#methodology-metrics #overlay-icons .icons:nth-child(3){
    top: 23%;
    left: 62%;
}

#methodology-metrics #overlay-icons .icons:nth-child(4){
    top: 45%;
    left: 80%;
}

#methodology-metrics #overlay-icons .icons:nth-child(5){
    top: 60%;
    left: 42%;
}

#methodology-text{
    margin-top: 5vh ;
    font-family: 'Work Sans';
    line-height: 1.3;
    font-weight: 200;
    font-size: 1.7vw;
    text-align: center;
}

#methodology-table-container{
    background-color: #E5E9EB;
}

#table .img-thumbnail{
    width: 2.5vw;
    height: auto;
}

#methodology-table-container .ribbon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#methodology-table-container .ribbon-container img{
    width: 75%;
}

#methodology-table-container .ribbon-text{
    position: absolute;
    width: 100%;
    top: 13%;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 4rem;
}

#methodology-table-container .icons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 5vw;
}

#methodolgy-footer-text{
    text-align: center;
    background: #2C2738;
    color: white;
}

#methodolgy-footer-text h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#methodolgy-footer-text p{
    font-family: 'Work Sans';
    font-size: 1.6vw;
}

/*Top 5 Stylings*/
#top5-banner{
    position: relative;
}

#top5-bg-img{
    width: 100%;
}

#top5-bg-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#top5-text-overlay{
    width: 75%;
    position: absolute;
    padding: 1vw;
    display: flex;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: white;
}

#top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#top5 .overview-container,
#diversity .overview-container,
#inclusivity .overview-container,
#sustainability .overview-container,
#freedom .overview-container,
#health .overview-container{
    color: white;
    background: rgb(44,39,56);
    padding: 20px;
}

#top5 .overview-container .top-score h3:first-child,
#diversity .overview-container .top-score h3:first-child,
#inclusivity .overview-container .top-score h3:first-child,
#sustainability .overview-container .top-score h3:first-child,
#freedom .overview-container .top-score h3:first-child ,
#health .overview-container .top-score h3:first-child{
    color: rgba(245, 81, 81, 1);
}

#top5 .overview-container .low-score h3:first-child,
#diversity .overview-container .low-score h3:first-child,
#inclusivity .overview-container .low-score h3:first-child,
#sustainability .overview-container .top-score h3:first-child,
#freedom .overview-container .top-score h3:first-child,
#health .overview-container .top-score h3:first-child{
    color: rgba(242, 172, 87, 1);
}

/*Top 5 Stylings*/
.top5-container .ribbon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top5-container .ribbon-text{
    position: absolute;
    width: 100%;
    top: 18%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 4rem;
    color: white;
}

.top5-container .cards-container .card{
    position: relative;
    background: #E5E9EB;
    border-radius: 15px;
    height: 50vh;
    cursor: pointer;
    transition: 0.5s transform !important;
}

.top5-container .cards-container .card:hover{
    transform: scale(1.05) !important;
}

.top5-container .cards-container .card .mycard-number{
    color: white;
    position: absolute;
    border-radius: 50%;
    top: -2.5vh;
    left: 38%;
    padding: 10px 20px;
    background-color: rgba(245, 81, 81, 1);
    font-size: 1.7vw;
    font-weight: bolder;
}

.top5-container .cards-container .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top5-container .cards-container .card .card-body .logo{
    width: 75%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top5-container .cards-container .card .card-body .logo img{
    width: 75%;
}

.top5-container .cards-container .card .card-body .name{
    font-family: 'Montserrat';
    text-transform: uppercase;
    height: 20%;
}

.top5-container .cards-container .card .card-body .score{
    color: rgba(245, 81, 81, 1);
    font-family: 'Work Sans';
    font-weight: bolder;
    font-size: 2.7vw;
}

/*Bottom 5 Stylings*/
.bottom5-container{
    background: #E5E9EB;
}

.bottom5-container .ribbon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom5-container .ribbon-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20%;
    left: 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 4rem;
}

.bottom5-container .cards-container .card{
    position: relative;
    background: white;
    border-radius: 15px;
    height: 50vh;
    cursor: pointer;
    transition: 0.5s transform !important;
}

.bottom5-container .cards-container .card:hover{
    transform: scale(1.05) !important;
}

.bottom5-container .cards-container .card .mycard-number{
    color: white;
    position: absolute;
    border-radius: 50%;
    top: -3.5vh;
    left: 40%;
    padding: 10px 20px;
    background-color: rgba(242, 172, 87, 1);
    font-size: 1.7vw;
    font-weight: bolder;
}

.bottom5-container .cards-container .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom5-container .cards-container .card .card-body .logo{
    width: 75%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom5-container .cards-container .card .card-body .logo img{
    width: 75%;
}

.bottom5-container .cards-container .card .card-body .name{
    font-family: 'Montserrat';
    text-transform: uppercase;
    height: 20%;
}

.bottom5-container .cards-container .card .card-body .score{
    color: rgba(242, 172, 87, 1);
    font-family: 'Work Sans';
    font-weight: bolder;
    font-size: 2.7vw;
}

#top5 .findings{
    background: #2C2738;
    color: white;
}

#top5 .findings h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#top5 .findings p{
    font-family: 'Work Sans';
    font-size: 1.5vw;
}

/*Top 1 University Stylings*/
#top1 .ribbon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top1 .ribbon-text{
    position: absolute;
    width: 100%;
    top: 18%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 4rem;
}

#top1 .details{
    background: #E5E9EB;
    width: 100%;
    height: 30vh;
}

#top1 .details .card{
    border-radius: 20px;
    height: 15vh;
}

#top1 .details .card:last-child{
    background: rgba(245, 81, 81, 1);
}

#top1 .details .card .card-body h3{
    margin-top: 1vh;
    font-size: 1.2vw;
}

#top1 .details .card:last-child .card-body img{
    height: 35%;
}

#top1 .details .card:last-child .card-body{
    color: white;
}

.findings{
    background: #E5E9EB;
    color: black;
    padding: 10px 0 !important;
}

.findings h1{
    font-family: 'Montserrat';
    margin-bottom: 15px;
    font-size: 3.5vw;
}

.findings p{
    font-family: 'Work Sans';
    font-size: 1.5vw;
}

/*Diversity Section Stylings*/

#diversity #top5-banner{
    position: relative;
    height: 75vh;
}

#diversity #top5-bg-overlay{
    background: #4F66A0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#diversity #top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#diversity #top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#diversity #top5-text-overlay img{
    width: 15%;
}

/*Inclusivity Section Stylings*/

#inclusivity #top5-banner{
    position: relative;
    height: 75vh;
}

#inclusivity #top5-bg-overlay{
    background: #F55151;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#inclusivity #top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#inclusivity #top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#inclusivity #top5-text-overlay img{
    width: 15%;
}

/*Sustainability Section Stylings*/

#sustainability #top5-banner{
    position: relative;
    height: 75vh;
}

#sustainability #top5-bg-overlay{
    background: #237E85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sustainability #top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#sustainability #top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#sustainability #top5-text-overlay img{
    width: 15%;
}

/*Freedom Section Stylings*/

#freedom #top5-banner{
    position: relative;
    height: 75vh;
}

#freedom #top5-bg-overlay{
    background: #F2AC57;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#freedom #top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#freedom #top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#freedom #top5-text-overlay img{
    width: 15%;
}

/*Health Section Stylings*/

#health #top5-banner{
    position: relative;
    height: 75vh;
}

#health #top5-bg-overlay{
    background: #584FA0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#health #top5-text-overlay h1{
    font-family: 'Montserrat';
    font-size: 3.5vw;
}

#health #top5-text-overlay p{
    margin-top: 10vh;
    font-family: 'Work Sans';
    font-size: 1.7vw;
    font-weight: 600;
}

#health #top5-text-overlay img{
    width: 15%;
}


/*Regional Section Stylings*/

#regional #top5-banner{
    position: relative;
    height: 75vh;
}

#regional #top5-bg-overlay{
    background: #F58351;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#regional #top5-text-overlay img{
    width: 15%;
}

.regions{
    position: relative;
}

#regional .larger {
    animation: zoom-in-zoom-out 2s ease-in-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.west, .midwest, .south, .northeast{
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    background: #F58351;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.west p, .midwest p, .south p, .northeast p{
    margin-bottom: 0;
}
.west p:first-child, .midwest p:first-child, .south p:first-child, .northeast p:first-child{
    font-family: 'Montserrat';
    font-size: 1.4vw;
}

.west p:last-child, .midwest p:last-child, .south p:last-child, .northeast p:last-child{
    font-family: 'Work Sans';
    font-size: 1.3vw;
    font-weight: 600;
}

.west{
    width: 150px;
    height: 150px;
    top: 35%;
    left: 12%;
}

.midwest{
    width: 130px;
    height: 130px;
    top: 20%;
    left: 42%;
}

.south{
    width: 130px;
    height: 130px;
    top: 50%;
    left: 42%;
}

.northeast{
    width: 200px;
    height: 200px;
    top: 25%;
    right:17%;
}

.region-button{
    cursor: pointer;
    transition: 0.5s transform ease-in-out;
}

.region-button.active{
    transform: scale(1.2);
}

.region-button:hover{
    transform: scale(1.2);
}

.top5-container .cards-container .card .card-body .logo img{
    width: 65%;
}

.top5-container .cards-container .card .card-body .name{
    text-transform: uppercase;
    height: 30%;
}

.bottom5-container .cards-container .card .card-body .logo img{
    width: 65%;
}

.bottom5-container .cards-container .card .card-body .name{
    text-transform: uppercase;
    height: 30%;
}

#methodology2 div{
    color: white;
    height: 70vh;
}

#methodology2 h1{
    font-family: "Montserrat";
    font-size: 4rem;
}